set default=0
set timeout=3

# Splash color
set color_normal=light-gray/black
set color_highlight=white/red

menuentry "FastBorn -- Quick Erase (1-pass zero) [DEFAULT]" {
    linux /boot/vmlinuz quiet loglevel=0 console=tty1 fastborn.mode=quick
    initrd /boot/initramfs
}

menuentry "FastBorn -- Full Erase (DoD 7-pass)" {
    linux /boot/vmlinuz quiet loglevel=0 console=tty1 fastborn.mode=full
    initrd /boot/initramfs
}
